.navbar{
    display: flex;
    justify-content: center;
    background-color: lightblue;
    font-size: large;
    height: 50px;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}